<div nz-row>
    <a [routerLink]="['figuras-accesorios']">
        <div nz-col nzLg="6" nzMd="12" class="carrusel">
            <nz-carousel nzAutoPlay>
                <div nz-carousel-content *ngFor="let path of seccion1">
                    <img [src]="path" alt="SECCION 1">
                </div>
            </nz-carousel>
            <span class="carruselTexto animated fadeIn">
                SECCION 1
            </span>
        </div>
    </a>
    <a [routerLink]="['cosplay-confeccion']">
        <div nz-col nzLg="6" nzMd="12" class="carrusel">
            <nz-carousel nzAutoPlay>
                <div nz-carousel-content *ngFor="let path of seccion1">
                    <img [src]="path" alt="SECCION 1">
                </div>
            </nz-carousel>
            <span class="carruselTexto animated fadeIn">
                SECCION 2
            </span>
        </div>
    </a>
    <a [routerLink]="['obras-arte']">
        <div nz-col nzLg="6" nzMd="12" class="carrusel">
            <nz-carousel nzAutoPlay>
                <div nz-carousel-content *ngFor="let path of seccion1">
                    <img [src]="path" alt="SECCION 1">
                </div>
            </nz-carousel>
            <span class="carruselTexto animated fadeIn">
                SECCION 3
            </span>
        </div>
    </a>
    <a [routerLink]="['otros-artistas']">
        <div nz-col nzLg="6" nzMd="12" class="carrusel">
            <nz-carousel nzAutoPlay>
                <div nz-carousel-content *ngFor="let path of seccion1">
                    <img [src]="path" alt="SECCION 1">
                </div>
            </nz-carousel>
            <span class="carruselTexto animated fadeIn">
                SECCION 4
            </span>
        </div>
    </a>
</div>

<div nz-row class="seccion" *ngFor="let item of array">
    <h1 class="tituloSeccion">SECCION ACCESORIOS</h1>
    <nz-divider></nz-divider>
    <div nz-col nzLg="6" nzMd="12" *ngFor="let item of array">
        <app-tarjetas></app-tarjetas>
    </div>
</div>