<div class="header clearfix">
    <div nz-row>
        <div nz-col nzLg="5" nzXXl="4" nzXl="5" nzMd="22" nzSm="22" nzXs="22" class="logo">
            <a [routerLink]="['inicio']">
                <img src="../../../../assets/logo.svg" alt="logo">
            </a>
        </div>
        <div nz-col nzLg="0" nzMd="2" nzXXl="0" nzXl="0" nzSm="2" nzXs="2">
            <nz-dropdown [nzPlacement]="'bottomRight'">
                <button nz-button nz-dropdown [nzSize]="'large'" class="boton-menu">
                    <i nz-icon nzType="menu" nzTheme="outline"></i>
                </button>
                <!-- <a nz-dropdown><i nz-icon nzType="menu" nzTheme="outline"></i></a> -->
                <ul nz-menu>
                    <li nz-menu-item>
                        <a [routerLink]="['figuras-accesorios']">Figuras y accesorios</a>
                    </li>
                    <li nz-menu-item>
                        <a [routerLink]="['cosplay-confeccion']">Trajes y cosplays</a>
                    </li>
                    <li nz-menu-item>
                        <a [routerLink]="['obras-arte']">Obras de arte</a>
                    </li>
                    <li nz-menu-item>
                        <a [routerLink]="['otros-artistas']">Otros artistas</a>
                    </li>
                    <li nz-menu-divider></li>
                    <li nz-menu-item>Iniciar sesión</li>
                    <li nz-menu-item>Registrarse</li>
                    <li nz-submenu *ngIf="logged">
                        <span title>
                                <fa-icon [icon]="iUser"></fa-icon>
                            </span>
                        <ul>
                            <li nz-menu-item>Iniciar sesión</li>
                            <li nz-menu-item>Registrarse</li>
                        </ul>
                    </li>
                </ul>
            </nz-dropdown>
        </div>
        <div nz-col nzLg="19" nzXXl="20" nzXl="19" nzMd="0" nzSm="0" nzXs="0">
            <ul nz-menu [nzMode]="'horizontal'" style="line-height: 64px;" class="menu-principal">
                <li nz-menu-item>
                    <a [routerLink]="['figuras-accesorios']">Figuras <br> y <br> accesorios</a>
                </li>
                <li nz-menu-item>
                    <a [routerLink]="['cosplay-confeccion']">Trajes <br> y <br> cosplays</a>
                </li>
                <li nz-menu-item>
                    <a [routerLink]="['obras-arte']">Obras de arte</a>
                </li>
                <li nz-menu-item>
                    <a [routerLink]="['otros-artistas']">Otros artistas</a>
                </li>
                <li nz-menu-item class="rigth">Iniciar sesión</li>
                <li nz-menu-item class="rigth">Registrarse</li>
                <li nz-submenu class="rigth" *ngIf="logged">
                    <span title>
                            <fa-icon [icon]="iUser"></fa-icon>
                        </span>
                    <ul>
                        <li nz-menu-item>Iniciar sesión</li>
                        <li nz-menu-item>Registrarse</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- <div nz-col nzSpan="4" class="logo">
    <a [routerLink]="['inicio']">
        <img src="../../../../assets/logo.svg" alt="logo">
    </a>
</div>
<ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
    <li nz-menu-item>
        <a [routerLink]="['figuras-accesorios']">Figuras y accesorios</a>
    </li>
    <li nz-menu-item>
        <a [routerLink]="['cosplay-confeccion']">Trajes y cosplays</a>
    </li>
    <li nz-menu-item>
        <a [routerLink]="['obras-arte']">Obras de arte</a>
    </li>
    <li nz-menu-item>
        <a [routerLink]="['otros-artistas']">Otros artistas</a>
    </li>
    <li nz-menu-item class="rigth">Iniciar sesión</li>
    <li nz-menu-item class="rigth">Registrarse</li>
    <li nz-submenu class="rigth" *ngIf="logged">
        <span title>
            <fa-icon [icon]="iUser"></fa-icon>
        </span>
        <ul>
            <li nz-menu-item>Iniciar sesión</li>
            <li nz-menu-item>Registrarse</li>
        </ul>
    </li>
</ul> -->