<nz-layout>
    <nz-affix>
        <app-menu></app-menu>
        <!-- <nz-header>
            <app-menu></app-menu>
        </nz-header> -->
    </nz-affix>
    <nz-layout>
        <router-outlet></router-outlet>
    </nz-layout>
    <nz-footer></nz-footer>
</nz-layout>