/* You can add global styles to this file, and also import other style files */

[nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    overflow: hidden;
}

.header {
    background: #fff;
    box-shadow: 0 2px 8px #f0f1f2;
    position: relative;
    z-index: 10;
    max-width: 100%;
}

.header .menu-principal {
    line-height: normal !important;
    height: 87px;
}

.header .menu-principal li {
    height: 100%;
    padding-top: 20px;
    text-align: center;
}

.boton-menu {
    height: 86px !important;
    width: 100%;
    border: none !important;
}

h3 {
    color: #fff;
}

.logo {
    height: 100%;
    text-align: center;
}

[nz-carousel-content] img {
    width: 100%;
    height: 100%;
}

.rigth {
    float: right;
}

nz-page-header,
.ant-page-header-title-view-title {
    text-align: center;
    font-size: 28px !important;
}

.tituloSeccion {
    text-align: center;
    margin: 14px;
}

nz-card img {
    width: 100%;
}

.seccion nz-card {
    margin: auto;
    margin-bottom: 10px;
}

.carrusel {
    position: relative;
}

.carruselTexto {
    position: absolute;
    z-index: 9;
    color: white;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
}

.carrusel:hover .carruselTexto {
    display: flex;
}


/* Animaciones */

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.fadeOut:hover {
    animation-name: fadeOut;
}

.filtros-seccion {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    width: 250px;
    padding: 10px;
    background-color: #fff;
}

.contenido {
    min-height: 100vh;
}

.contenido-seccion {
    margin-left: 250px;
    padding: 30px;
}

.input-filtro-precio {
    width: 105px !important;
}