<div class="contenido">
    <nz-sider>
        <app-filtros class="filtros-seccion"></app-filtros>
    </nz-sider>
    <nz-layout class="contenido-seccion">
        <h1>CONTENIDO DE LA SECCION</h1>
        <nz-divider></nz-divider>

    </nz-layout>
</div>