<nz-card nzHoverable style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEllipsis]">
    <a href="#">
        <nz-card-meta nzTitle="Nombre Producto" nzDescription="Descripción corta del producto..."></nz-card-meta>
    </a>
</nz-card>
<ng-template #coverTemplate>
    <a href="#">
        <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
    </a>
</ng-template>
<ng-template #actionSetting>
    <i nz-icon nzType="eye" nzTheme="twotone"></i>
</ng-template>
<ng-template #actionEllipsis>
    <i nz-icon nzType="dollar" nzTheme="twotone"></i> 10.000
</ng-template>