<h2>Filtros</h2>
<nz-divider></nz-divider>
<div nz-row>
    <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="Nombre o descripción" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <i nz-icon type="search"></i>
    </ng-template>
</div>
<div nz-row>
    <br>
    <h3>Precio:</h3>
    <nz-slider nzRange [nzTipFormatter]="formatoMoneda" [(ngModel)]="rango_precios" [nzMin]="0" [nzMax]="1000000" [nzStep]="1000" (ngModelChange)="cambio_rango_precio($event)"></nz-slider>
    <nz-input-number class="input-filtro-precio" [nzFormatter]="formatoMoneda" [(ngModel)]="precio_min" [nzMin]="0" [nzMax]="999000" [nzStep]="1000" (ngModelChange)="cambio_precio_min($event)"></nz-input-number>
    <span> - </span>
    <nz-input-number class="input-filtro-precio" [nzFormatter]="formatoMoneda" [(ngModel)]="precio_max" [nzMin]="1000" [nzMax]="1000000" [nzStep]="1000" (ngModelChange)="cambio_precio_max($event)"></nz-input-number>
</div>
<div nz-row>
    <br>
    <h3>Calificación:</h3>
    <!-- <nz-rate [ngModel]="0" nzAllowHalf class="large" [nzCharacter]="calificaciones"></nz-rate>
    <ng-template #calificaciones>
        <fa-icon [icon]="faSkull"></fa-icon>
    </ng-template> -->
    <nz-slider nzRange [(ngModel)]="rango_calificacion" [nzMin]="0" [nzMax]="5" (ngModelChange)="cambio_rango_calificacion($event)"></nz-slider>
    <nz-input-number class="input-filtro-precio" [(ngModel)]="calificacion_min" [nzMin]="0" [nzMax]="4" (ngModelChange)="cambio_calificacion_min($event)"></nz-input-number>
    <span> - </span>
    <nz-input-number class="input-filtro-precio" [(ngModel)]="calificacion_max" [nzMin]="1" [nzMax]="5" (ngModelChange)="cambio_calificacion_max($event)"></nz-input-number>
</div>
<div nz-row>
    <br>
    <h3>Etiquetas:</h3>
    <nz-select [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder" style="width: 100%" nzMode="multiple" nzPlaceHolder="Please select" [(ngModel)]="etiquetas_seleccionadas">
        <nz-option *ngFor="let option of etiquetas" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
    </nz-select>
    <ng-template #tagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected </ng-template>
    <!-- <nz-checkbox-group [(ngModel)]="etiquetas"></nz-checkbox-group> -->
</div>